################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MobileAPI/config/applicationhost.config
/.vs/MobileAPI/DesignTimeBuild/.dtbcache
/.vs/MobileAPI/v16/Server/sqlite3/storage.ide-wal
/.vs/MobileAPI/v16/Server/sqlite3/storage.ide-shm
/.vs/MobileAPI/v16/Server/sqlite3/storage.ide
/.vs/MobileAPI/v16/Server/sqlite3/db.lock
/.vs/MobileAPI/v16/.suo

#Manually added
bin
obj
packages
*.jfm
/API/Properties/PublishProfiles
/DBScripts/DBScripts.dbmdl
